<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="textEncodingConverterSettings"
                 type="Aliencube.TextEncodingConverter.Configs.TextEncodingConverterSettings, Aliencube.TextEncodingConverter.Configs"
                 requirePermission="false" />
    </configSections>

    <textEncodingConverterSettings>
        <default inputEncoding="ks_c_5601-1987" outputEncoding="utf-8" />
        <converter extensions="smi,srt,txt" backupPath="Backup" outputPath="Converted" />
    </textEncodingConverterSettings>
</configuration>