<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="textEncodingConverterSettings"
                 type="Aliencube.TextEncodingConverter.Configs.TextEncodingConverterSettings, Aliencube.TextEncodingConverter.Configs"
                 requirePermission="false" />
    </configSections>

    <textEncodingConverterSettings>
        <encoding input="ks_c_5601-1987" output="utf-8" />
        <converter extensions="csv,txt" backup="true" backupPath="Backup" outputPath="Output" />
    </textEncodingConverterSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>