<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="textEncodingConverterSettings" type="Aliencube.TextEncodingConverter.Configs.TextEncodingConverterSettings, Aliencube.TextEncodingConverter.Configs" requirePermission="false" />
    </configSections>

    <textEncodingConverterSettings>
        <encoding input="ks_c_5601-1987" output="utf-8" />
        <converter extensions="csv,txt" backup="true" backupPath="Backup" outputPath="Output" />
    </textEncodingConverterSettings>

    <appSettings>
        <clear />
        <add key="Extensions" value="smi, srt, txt" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>